<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209835173307-fqr42idjfma4cisu24hadr20gd9grkhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209835173307-fqr42idjfma4cisu24hadr20gd9grkhl</string>
	<key>API_KEY</key>
	<string>AIzaSyDpw1aEEEsRCZn6pyhzlgo4MciSyBt3H8c</string>
	<key>GCM_SENDER_ID</key>
	<string>209835173307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tutkubide.matchGame-App</string>
	<key>PROJECT_ID</key>
	<string>matchgameaoo</string>
	<key>STORAGE_BUCKET</key>
	<string>matchgameaoo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209835173307:ios:8d0362720911e42b07d09e</string>
	<key>DATABASE_URL</key>
	<string>https://matchgameaoo.firebaseio.com</string>
</dict>
</plist>